.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1{
  margin-top: 36px;
}
.card{
  background-color: #fff0f50d;
  box-sizing: border-box;
  border: 1px solid #fff0f558;
  border-radius: 1rem;  
  color: #b4abae;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  margin: 1rem;
  min-width: 200px;
  padding: 1rem;
  text-align: center;
  width: 350px;
  min-width: 220px;
}
.card-header{
  padding-top: 1rem;

}
.card-img{
  border-radius: 100%;
  width: 5rem;
}
.card-name{
  font-size: 2rem;
  margin-bottom: .5rem;
}
.card-twitterId{
  margin: 0;
  color: #fff0f55d;
  margin-bottom: 2rem;
}
.card-button{
  max-width: 280px;
  color: #d0cfcf;
  background-color: #2F58CD;
  border: none;
  border-radius: .8rem;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  width: 180px;
}
.is-follow{
  background-color: transparent;
  border: 1px solid #FFF0F5;
  width: 180px;
  transition: .3s ease-in-out display;
}
.card-button:hover{
  background-color: #279EFF;
  transition: background-color .3s ease-in-out;
}
.is-follow:hover{
  background-color: #95919324;
  border: 1px solid #ff1212;
  color: #ff1212;
}
.card-stopFollow{
  display: none;
}
.is-follow:hover .card-stopFollow{
  display: block;
  transition: .3s ease-in-out display;
}
.is-follow:hover .card-follow{
  display: none;
  transition: .3s ease-in-out display;
}
@media (min-width: 763px) {
  #root > h1{
    font-size: 2.8rem;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}