body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #18122B;
  font-family: system-ui;
  color: #635985;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 763px) {
  body{
    display: block;
    margin-top: 1rem;
    height: auto;
  }  
}